.wacom-modal {
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow-y: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */

	&__content {
		position: relative;
		background-color: var(--wacom-primary);
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		min-width: 20%; /* Could be more or less, depending on screen size */
		max-width: 80%; /* Could be more or less, depending on screen size */
	}

	&__close {
		color: #aaa;
		position: absolute;
		right: 10px;
		top: 3px;
		font-size: 32px;
		line-height: 1;

		&:hover,
		&:focus {
			color: var(--wacom-secondary);
			text-decoration: none;
			cursor: pointer;
		}
	}
}
