@if (text) {
        <div
                class="wacom-alert wacom-alert--auto-height"
                [class.wacom-alert--closing]="delete_animation"
                [ngClass]="class"
        >
                <div
                        [ngClass]="'wacom-alert__content--color-' + type"
                        class="wacom-alert__content wacom-alert__content--bounce-in-up"
                        #alertRef
                >
                        @if (progress) {
                                <div class="wacom-alert__progress">
                                        <span
                                                class="wacom-alert__progress-bar"
                                                [ngClass]="'wacom-alert__progress-bar--' + type"
                                                [ngStyle]="{
                                                        'animation-duration': (timeout + 350) / 1000 + 's',
                                                }"
                                        ></span>
                                </div>
                        }
                        <div class="wacom-alert__body">
                                <div class="wacom-alert__texts">
                                        @if (icon) {
                                                <div class="{{ icon }}"></div>
                                        }
                                        <div class="wacom-alert__message wacom-alert__message--slide-in">
                                                {{ text }}
                                        </div>
                                </div>
                                @if (type === "question") {
                                        <div>
                                                @for (button of buttons; track button.text) {
                                                        <button (click)="remove(button.callback)" class="wacom-alert__button">
                                                                {{ button.text }}
                                                        </button>
                                                }
                                        </div>
                                }
                                @if (closable) {
                                        <div class="wacom-alert__close" (click)="remove()"></div>
                                }
                        </div>
                </div>
        </div>
}
