.wacom-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: var(--wacom-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999999;

	&__close {
		color: #aaa;
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 32px;
		line-height: 1;

		&:hover,
		&:focus {
			color: var(--wacom-secondary);
			text-decoration: none;
			cursor: pointer;
		}
	}

	&__text {
		font-size: 30px;
		color: var(--wacom-primary);
	}

	&__progress {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	&__progress-bar {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #a5a5a5ed;
		animation-name: wacom-loader-progress;
		animation-duration: 10s;
		transition: width 0.2s ease;
	}
}

@keyframes wacom-loader-progress {
	from {
		width: 100%;
	}

	to {
		width: 0%;
	}
}
