<div>
	<div class="waw-alert-wrapper waw-alert-wrapper--top-left" id="topLeft"></div>
	<div class="waw-alert-wrapper waw-alert-wrapper--top" id="top"></div>
	<div class="waw-alert-wrapper waw-alert-wrapper--top-right" id="topRight"></div>

	<div class="waw-alert-wrapper waw-alert-wrapper--left" id="left"></div>
	<div class="waw-alert-wrapper waw-alert-wrapper--center" id="center"></div>
	<div class="waw-alert-wrapper waw-alert-wrapper--right" id="right"></div>

	<div class="waw-alert-wrapper waw-alert-wrapper--bottom-left" id="bottomLeft"></div>
	<div class="waw-alert-wrapper waw-alert-wrapper--bottom" id="bottom"></div>
	<div class="waw-alert-wrapper waw-alert-wrapper--bottom-right" id="bottomRight"></div>
</div>
