<div class="wacom-wrapper">
	<div
		class="wacom-wrapper__alert wacom-wrapper__alert--top-left"
		id="topLeft"
	></div>
	<div class="wacom-wrapper__alert wacom-wrapper__alert--top" id="top"></div>
	<div
		class="wacom-wrapper__alert wacom-wrapper__alert--top-right"
		id="topRight"
	></div>

	<div
		class="wacom-wrapper__alert wacom-wrapper__alert--left"
		id="left"
	></div>
	<div
		class="wacom-wrapper__alert wacom-wrapper__alert--center"
		id="center"
	></div>
	<div
		class="wacom-wrapper__alert wacom-wrapper__alert--right"
		id="right"
	></div>

	<div
		class="wacom-wrapper__alert wacom-wrapper__alert--bottom-left"
		id="bottomLeft"
	></div>
	<div
		class="wacom-wrapper__alert wacom-wrapper__alert--bottom"
		id="bottom"
	></div>
	<div
		class="wacom-wrapper__alert wacom-wrapper__alert--bottom-right"
		id="bottomRight"
	></div>
</div>
