.waw-alert-wrapper {
	z-index: 99999;
	position: fixed;
	width: 100%;
	pointer-events: none;
	display: flex;
	flex-direction: column;
}

.waw-alert-wrapper--top-left {
	top: 0;
	left: 0;
	text-align: left;
}

.waw-alert-wrapper--top {
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.waw-alert-wrapper--top-right {
	top: 0;
	right: 0;
	text-align: right;
}

.waw-alert-wrapper--left {
	top: 0;
	bottom: 0;
	left: 0;
	justify-content: center;
	text-align: left;
}

.waw-alert-wrapper--center {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}

.waw-alert-wrapper--right {
	top: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	text-align: right;
}

.waw-alert-wrapper--bottom-left {
	bottom: 0;
	left: 0;
	text-align: left;
}

.waw-alert-wrapper--bottom {
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.waw-alert-wrapper--bottom-right {
	bottom: 0;
	right: 0;
	text-align: right;
}

/* Mobile: show all positions full width */
@media only screen and (max-width: 567px) {
	.waw-alert-wrapper--top-left,
	.waw-alert-wrapper--top-right,
	.waw-alert-wrapper--left,
	.waw-alert-wrapper--right,
	.waw-alert-wrapper--bottom-left,
	.waw-alert-wrapper--bottom-right,
	.waw-alert-wrapper--center {
		left: 0;
		right: 0;
		text-align: center;
	}

	.waw-alert-wrapper--center {
		align-items: stretch;
	}

	.waw-alert-wrapper--left,
	.waw-alert-wrapper--right {
		flex-flow: column;
		align-items: center;
	}
}
